# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Rider / VS / VSCode
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db

# Unity cache
UserSettings/

# Addressables cache (generated)
Assets/AddressableAssetsData/*/*.bin*

# Crash reports
sysinfo.txt
